{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<img class="portrait" src="/static/portrait.jpg" />
<header class="entry-header">
  <h2>About David</h2>
  <div class="date">Last updated: March 28, 2018</div>
</header>
<div class="entry-body">
  <p>
    I'm a software developer with several years of experience all along
    the stack, from websites to system administration.  Devops is the
    trendy word nowadays.
  </p>
  <p>
    The majority of my work has been at the University of Wisconsin-Madison,
    supporting <a href="https://wipac.wisc.edu">WIPAC</a> and the
    <a href="https://icecube.wisc.edu">IceCube Neutrino Observatory</a>.
  </p>
</div>
{% endblock %}
